.zaaltaken-template {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

thead {
    background-color: #00378a;
    color: white;
}

td div {
    margin: 5px 10px;
}

tr {
    border-bottom: 1px solid #c7c7c7;
}