* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #363636;
}

.custom-plugin-content > h1 {
    font-size: 2vw;
    text-align: center;
}

.velden {
    display: grid;
    grid-template-columns: 6vw repeat(2, 3fr);
    grid-template-rows: repeat(2, 3fr) 6vw;
    grid-gap: 1vw;
    font-size: 1vw;
}

.kantine {  
    grid-area: 1 / 1 / 3 / 2;
    background-color: #bbbbbb;
    color: rgb(21, 95, 163);
    writing-mode: vertical-rl;
    text-align: center;
    line-height: 6vw;
    font-size: 1.5vw;
}

.veld {
    width: 100%;
    height: 20vw;
    background-color: white;
    padding: 0vw 1vw;
    border: .3vw solid #464646;
    font-size: 1.1vw;
}

.veld h1 {
    font-size: 1.4vw;
    line-height: 1.4vw;
    margin: .5vw 0vw;
}

.veld:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
}

.veld:nth-child(3) {
    grid-area: 1 / 3 / 2 / 4;
}

.veld:nth-child(4) {
    grid-area: 2 / 2 / 3 / 3;
}

.veld:nth-child(5) {
    grid-area: 2 / 3 / 3 / 4;
}

.tribune {
    grid-area: 3 / 2 / 4 / 4;
    background-color: #bbbbbb;
    color: rgb(21, 95, 163);
    text-align: center;
    line-height: 6vw;
    font-size: 1.5vw;
}

.tijd {
    font-weight: bold;
}

.teams {
    margin-left: 10px;
}

.wedstrijd {
    color: rgb(43, 43, 43);
    margin-top: .5vw;
}

.wedstrijd .team {
    color: rgb(12, 60, 190);;
}