.weekschema {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
}

@media (max-width: 1450px) {
    .weekschema {
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }
}

.weekschema-container {
    width: 100%;
    height: 100%;
}

.logo {
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
}