* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #363636;
    padding: 0;
    margin: 0;
}

.weekschema-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.weekschema {
    container-type: inline-size;
    padding: 5px;
}

.weekschema > h1 {
    font-size: 2cqw;
    text-align: center;
}

.velden {
    display: grid;
    grid-template-columns: 6cqw repeat(2, 3fr);
    grid-template-rows: repeat(2, 3fr) 6cqw;
    grid-gap: 1cqw;
    font-size: 1cqw;
}

.kantine {  
    grid-area: 1 / 1 / 3 / 2;
    background-color: #bbbbbb;
    color: rgb(21, 95, 163);
    writing-mode: vertical-rl;
    text-align: center;
    line-height: 6cqw;
    font-size: 1.5cqw;
}

.veld {
    width: 100%;
    height: 20cqw;
    background-color: white;
    padding: 0cqw 1cqw;
    border: .3cqw solid #464646;
    font-size: 1.1cqw;
}

.veld h1 {
    font-size: 1.4cqw;
    line-height: 1.4cqw;
    margin: .5cqw 0cqw;
}

.veld:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
}

.veld:nth-child(3) {
    grid-area: 1 / 3 / 2 / 4;
}

.veld:nth-child(4) {
    grid-area: 2 / 2 / 3 / 3;
}

.veld:nth-child(5) {
    grid-area: 2 / 3 / 3 / 4;
}

.tribune {
    grid-area: 3 / 2 / 4 / 4;
    background-color: #bbbbbb;
    color: rgb(21, 95, 163);
    text-align: center;
    line-height: 6cqw;
    font-size: 1.5cqw;
}

.tijd {
    font-weight: bold;
}

.teams {
    margin-left: 10px;
}

.wedstrijd {
    color: rgb(43, 43, 43);
    margin-top: .5cqw;
}

.wedstrijd .team {
    color: rgb(12, 60, 190);;
}